body
{
    margin: 0;
}

#parseStatus
{
    display:inline-block;
    width: 10px;
    height: 10px;
}

#webgl
{
}

#parseStatus.unknown
{
    background-color: #777777;
}

#plotArea
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#formulaArea
{
    padding: 3px 6px 3px 6px;
}

#sidebar
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #383838;
    color: white;
    font-family: Helvetica, Arial, serif;
}

#funcLabel
{
    font-family: Helvetica, Arial, serif;
}

#parseStatus.ok
{
    background-color: #00EE00;
}

#parseStatus.error
{
    background-color: #EEEE00;
}

#param1
{
    width: 400px;
}

#debugArea
{
  visibility: collapse;
}